.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  } 

  .card{
    display: grid;
    grid-template-columns:130px 130px;
    grid-template-rows: 330px auto;
    background-color: lightgray;
    margin:10px;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-width:2px;
}

.cardContent {
    grid-row: 1;
    grid-column: span 2;
    display:grid;
    padding:5px;
    grid-template-columns: auto;
    grid-template-rows: 250px 50px max-height(auto, 30px);
    justify-content: center;
    align-content: center;
}
.cardImage {
    grid-row: 1;
    grid-column: 1;
    height: auto;
    width: 250px;
}

.cardProductName {
    grid-row: 2;
    grid-column: 1;
    font-size:x-large;
    text-align: center;
}

.cardProductDescription {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
}

.cardProductPrice {
    grid-row: 4;
    grid-column: 1
}

.cardButtonRow {
    background-color: darkgray;
    border-radius:28px;
	border:1px solid #29668f;
    grid-row: 4;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: min-width(auto, 10vh)

}

.cardButtonShopping{
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    grid-row: 1;
    grid-column: 3;
}

.cardButtonShopping:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.cardButtonShopping:active {
	position:relative;
	top:1px;
}

.cardItem{
    vertical-align: center;
    height: auto;
    width: fill;
    grid-row: 1;
    grid-column: 2;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  } 