.gridContainer {
    display: grid;
    grid-template-columns: 90vw 10vw;
    grid-template-rows: auto auto auto auto;
}

.navbar {
    grid-row: 1;
    grid-column: span 2;
}

.flexContainer {
    grid-row: 2;
    grid-column: span 2;
    display: flex;
}

.noEntry {
    grid-row: 2;
    grid-column: span 2;
    text-align: center;
}

.sumField {
    grid-row: 3;
    grid-column: 2;
    height: fit-content;
}

.purchaseButton {
    grid-row: 4;
    grid-column: 2;
    height: 3vh;
}
