.productRow{
    display: grid;
    grid-template-columns: repeat(6vw, 4) 40vw 12vw auto;
    grid-template-rows: auto;
    background-color: lightgray;
    margin: 5px;
}

.button{
    width: 6vw;
    margin-right: 5px;
}

.delete {
    grid-column: 1;
}

.add {
    grid-column: 2;
}

.subtract {
    grid-column: 3;
}

.amount {
    grid-column: 4;
}

.productName {
    grid-column: 5;
    width: 40vw;
}

.productPrice {
    grid-column: 6;
}

.productTotal {
    grid-column: 7;
}